H1{
  color: rgb(139, 6, 139)

}

p{

   color: rgb(12, 12, 194);
   font-size:14;
}

div{

    border:dotted;
}

.header{

    border: solid;
    background-color: aqua;
    font-size:14;


}